@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    background-color: #b3fafa;
    font-size: 15px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif;
}

#startGame {
    margin-top: 0;
    margin-right: 0.5%;
}

#gameBoard img {
    width: 12%;
    height: 12%;
    padding: 3px;
    box-sizing: border-box;
}

#description {
    padding: 0em;
}



